.animation-container{
  top: 10%;
  position: absolute;
  left: 20%;
  width: 1000px;
  display: flex;
  animation-name: lastanimation;
  animation-delay: 1s;
  animation-duration: 1s;
}
@media screen and (max-width: 1900px) {
  .animation-container{
    left: 0%;
  }
}

.animation-ele img{
  max-width: 100px;

}
.latter-container{
  left: 50%;
  position: absolute;
  margin-top: 75px;
  display: flex;
}
#CP img{
  max-width: 300px;
}
#Y img{
  max-width: 90px;
}
#CP{
  position: absolute;
  left: 20%;
  padding-top: 250px;
  animation-name: anCP;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
#A{
  padding-top: 250px;
  animation-name: anA;
  animation-duration: 20s;

  animation-iteration-count: infinite;
}
#N{
  padding-top: 250px;
  animation-name: anN;
  animation-duration: 20s;

  animation-iteration-count: infinite;
}
#O{
  padding-top: 250px;
  animation-name: anO;

  animation-duration: 20s;
  animation-iteration-count: infinite;
}
#P{
  padding-top: 250px;
  animation-name: anP;
  animation-duration: 20s;

  animation-iteration-count: infinite;
}
#Y{
  padding-top: 250px;
  animation-name: anY;
  animation-duration: 20s;

  animation-iteration-count: infinite;
}

@keyframes anCP{
  0%{
    opacity: 0;
    left: 5%;
  }
  5%{
    left: 20%;
  }
  15%{
    opacity: 1;
  }
  100%{
    left: 20%;

  }
}
@keyframes anA {
  0%{
    padding-top: 0px;
    opacity: 0;
  }
  5%{padding-top: 250px;
  opacity: 1;}
  100%{
    padding-top: 250px;
    opacity: 1;
  }
}

@keyframes anN {
  0%{
    padding-top: 0px;
    opacity: 0;
  }
  5%{padding-top: 250px;
  opacity: 1;}
  100%{
    padding-top: 250px;
    opacity: 1;
  }
}
@keyframes anO {
  0%{
    padding-top: 0px;
    opacity: 0;
  }
  5%{padding-top: 250px;
  opacity: 1;}
  100%{
    padding-top: 250px;
    opacity: 1;
  }
}

@keyframes anP {
  0%{
    padding-top: 0px;
    opacity: 0;
  }
  5%{padding-top: 250px;
  opacity: 1;}
  100%{
    padding-top: 250px;
    opacity: 1;
  }
}

@keyframes anY {
  0%{
    padding-top: 0px;
    opacity: 0;
  }
  5%{padding-top: 250px;
  opacity: 1;}
  100%{
    padding-top: 250px;
    opacity: 1;
  }
}
